{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}
    <div class="container mt-2">
        <div class="d-flex justify-content-center align-items-center" style="min-height: 60vh;">
                <div class="content-section w-100" style="max-width: 500px;">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">LOGIN</legend>
                            {{ form | crispy}}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info w-60" type="submit">Log In</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Have an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                        </small>
                    </div>
                </div>
        </div>
    </div>


{% endblock%}