{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecycSmart Connect</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="{% url 'price' %}" class="back-btn" style="float: left;">&lt;</a>
            <img src="{% static 'img/logo.jpg' %}" alt="ReCycSmart Connect Logo" class="logo">
        </header>
    <div class="banner">
        Trust Us, To Help You Make Effective Pickups
    </div>
    <div class="container">
        <div class="buttons">
            <form action="{% url 'request' %}" method="get">
                <button type="submit" class="button">View pickup requests </button>
            </form>
            <form action="{% url 'history' %}" method="get">
                <button type="submit" class="button">Your history </button>
            </form>
            <form action="{% url 'report' %}" method="get">
                <button type="submit" class="button">Pickups<br>Generate report</button>
            </form>
        </div>
    </div>
</body>



{%endblock%}