{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecycSmart Connect</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href="{% url 'pickup' %}" class="back-btn" style="float: left;">&lt;</a>
            <img src="{% static 'img/logo.jpg' %}" alt="ReCycSmart Connect Logo" class="logo">
        </header>
        <body>
            <div class="header">Pickup Report</div>
            <div class="content">
                <div class="entry">
                    <p>Pickup ID: 001</p>
                    <p>Bin code: 00B900</p>
                    <p>Address: 50 Long Street, New Park</p>
                    <p>Date: 2024/05/08 Time: 13:00</p>
                </div>
                <div class="entry">
                    <p>Pickup ID: 012</p>
                    <p>Bin code: 00B123</p>
                    <p>Address: 70 Long Street, New Park</p>
                    <p>Date: 2024/05/15 Time: 12:00</p>
                </div>
                <button class="button">Generate report</button>
            </div>
        </body>

{%endblock%}