body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  text-align: center;
  margin: 0;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }


.image {
  width: 50%;
}

.slogan {
  width: 50%;
  text-align: right;
  font-size: 2em;
}

img {
  width: 100%;
}

contact-form {
  max-width: 500px; /* Reduce width */
  margin-top: 50px; /* Optional: Adds space from top */
  text-align: center; /* Center-aligns form contents */
}

.form-input {
  width: 100%; /* Ensures input takes full width within its container */
  max-width: 350px; /* Sets the max-width of inputs */
  margin: 0 auto 20px; /* Centers inputs and adds spacing */
}

textarea.form-input {
  height: 150px; /* Sets height for the textarea */
}

.form-button {
  color: #42d168;
}
.button {
  background-color: green;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
}




