{% extends 'base.html' %}
{% block content%}

 <div class="row g-0 bg-body-secondary position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="..." class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h5 class="mt-0">Community Views</h5>
      <p>Gaseledi Selatsi, 36 years old on 24 August 2024</p>
      <p>In a recent interview, Gaseledi shared her positive experience with our new smart bin system, which rewards users for proper litter disposal. 
        "I love how easy it is to use the smart bin," she said. "By simply scanning and depositing my waste, I earn points that I can redeem for various rewards.
         It's a win-win because it encourages me to keep my surroundings clean and helps the environment." 
         Gaseledi emphasized how the system has fostered a stronger sense of community responsibility.
          "Seeing the neighborhood become cleaner is incredibly rewarding," she added. 
          "This technology makes a real difference."</p>
      <a href="#" class="stretched-link">Read More</a>
    </div>
  </div>

  <br />
 
    <div class="row g-0 bg-body-secondary position-relative" class=>
        <div class="col-md-6 mb-md-0 p-md-4">
        <img src="..." class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Community View</h5>
        <p>Phemelo Monakwe,24 years old on 01 August 2024/p>
        <p>Phemelo, a dedicated advocate for environmental sustainability, recently shared her excitement about using our new smart bin system during an interview. 
            "The smart bin has transformed how I think about waste disposal," she remarked. "It's so simple to scan and throw away my litter, and the rewards system is a fantastic incentive." 
            Phemelo noted that the initiative has made a noticeable difference in the cleanliness of her community.
            "It's encouraging to see everyone get involved and take pride in our environment," she added. 
            "The smart bin is a brilliant idea that's making a real impact."</p>
        <a href="#" class="stretched-link">Read More</a>
        </div>
    </div>
 
  

{% endblock%}